.root {
	position: relative;
}

.rootBlur {
	outline: 2px solid var(--default-theme-background-light);
	outline-offset: 1.75em;
	border-radius: 18px;
}

.contentBlur {
	transition: .15s;
	opacity: .25;
	filter: blur(8px) saturate(0);
}